/* nav related style */
body{
    margin:0px;
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0 100px;
}
#name{
    color: coral;

}

.nav-title{
    color: rgb(0, 0, 0);
    font-size:45px;
    font-weight:800;
    padding-left:45px;
}
/* .text-primary{
    color: rgb(174, 32, 21);
} */
.button{
    background: rgb(255, 123, 0);
    border-radius:3px;
    padding:7px;
    border:0px;
}
.button-2{
    background: rgb(255, 123, 0);
    border-radius:3px;
    margin-right:20px;
    border:0px;
    padding:05px 10px;;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    color: black;
    text-decoration: none;
}
/* header aliya */
.heade{
    background-color: rgba(125, 89, 35, 0.925);
    background-image: url("group.png");
    background-repeat: no-repeat;
    background-position:bottom right;
}
.banner{
    padding-left:140px ;
    padding-right:40px ;
    padding-top:60px ;
    padding-bottom:0px ;
    display: flex;
}

banner.profile-pictur{
    width: 500px;

}
.banner-giti{
    font-size:40px;
}
.banner-text{
    font-size:75px;
    font-weight:700;
}
main{
    max-width:1140px;
    margin: 30px auto;
}
.about-info-cotenar{
   justify-content:space-around ;
    display: flex;

}
.about-info{
    text-align: center;
    margin:0px;
}
#what-i-do{
    padding:30px 150px;
}
.section-tytel{
    text-align: center;
    margin: 50px;;
}
.about{
    max-width:1140px;
    background-color: antiquewhite;
    text-align: center;
    justify-content:center;
    padding-top:5px;
    margin:100px 0px 100px ;
}

.section-title{
    text-align: center;
}
/* #sec{
    background-color: rgba(191, 162, 162, 0.649);
    max-width: 1150px;
    padding: ;
    margin: top 59px;;
} */

/* whqt i do */

.section-skil{
    display: flex;
    gap:35px;
}
.sikll{
    padding:20px;
    background-color: rgb(255, 255, 255);
    border-radius:5px;
    box-shadow:0px 0px 08px rgb(96, 94, 94);
}
/* rejuki sektion */
.reju{
    text-align: center;
    margin:100px;
    font-size: 40px;
}
h5{
    font-size: 22px;
}
.main{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* gap: 20px; */
    column-gap:40px;
    row-gap: 20px;
}
.body-1{
    border: 4px solid rgba(187, 213, 213, 0.848);
    box-shadow:5px 8px 19px rgb(182, 115, 115);
    border-radius:7px;
    padding-left: 7px;
}
.p-10{
    padding-top:00px;
    padding-bottom: 25px;
}

#butt-1{
    /* justify-content: center; */
    /* align-items: center;
    display: flex; */
    margin-left:46%;
}
#butt{
    padding:10px 15px;
    color: rgb(255, 255, 255);
    background-color:red;
    /* text-align: center; */
    margin-top: 45px;
    border-radius: 7px;
    margin-bottom:45px;
    
}
.foot-main > img{
    margin-top: 25px;
    /* background-color: aqua;*/
    margin-left:15px;

}
.foot-main > input{
    font-size: 35px;
    margin-top: 60px;
    margin-top: 30px;
}
.footer{
    display: flex;
    justify-content: space-around;
    height: 680px;
}
.submit{
    padding: 1px 15px;
    background-color:red;
    margin-left:30%;
    border-radius: 10px;
}
.footer{
    background-color: rgba(255, 216, 216, 0.846);
}
.p{
    color: rgb(0, 0, 0);
}
.hide{
    display: none;
}
/* mobail divaic */
@media screen and (max-width:576px){
    .section-skil{
        flex-direction: column;
    }
    #what-i-do{
        padding: 15px;
    }
    .main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding:00px 10px;
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .about-info-cotenar{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .nab{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
    
    .profile-pictur{
        width: 100%;
        /* width: auto; */
       
        
    }
    .banner-21{
        /* display: grid;
        grid-template-columns: repeat(1,1fr); */
        padding:7px;
    }
    .banner{
        padding: 15px;
    }
    .nav-3{
        /* justify-content: space-between; */
        padding-left:20px;
    .nab{
       margin-left: 20px;
       
    }
    .nav-title{
        padding-left: 0px;
    }

    }
}
    
